<div class="card text-left">
  <div class="card-img-top"></div>
  <div class="card-body">
    <h4 class="card-title">Product Management</h4>
    <div class="card-text">
      <div class="form-group">
        <label for="">Code</label>
        <input type="text" class="form-control" [(ngModel)]="form.code" />
        <label for="">Name</label>
        <input type="text" class="form-control" [(ngModel)]="form.name" />
        <label for="">Price</label>
        <input type="text" class="form-control" [(ngModel)]="form.price" />
        <button class="btn btn-primary" (click)="(addProduct())">Add</button>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let product of products; let idx = index"
      [class]="{ 'bg-secondary': (idx + 1) % 2 === 0 }"
    >
      <th scope="row">{{ idx + 1 }}</th>
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
    </tr>
    <tr *ngIf="total">
      <td rowspan="4">{{ total }}</td>
    </tr>
  </tbody>
</table>
